---
layout: empty
title: About
permalink: /about/
---

<header>
  <figure class="hero compact">
    {% include header.html %}
  </figure>
</header>

<div role="main">

  <section class="container">
    <div class="twelve columns">
      <nav class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li>{{ page.title }}</li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="container">
    <article class="ten columns">
      <div class="type">
        <header>
          <h1>{{ page.title }}</h1>
        </header>

        {% include content/intro.html %}

        <h3>Read on</h3>

        <ul>
          <li><a href="/employment">Employment history</a></li>
          <li><a href="/work">Technical skills and experience</a></li>
          <li><a href="/speaking">Speaking notes and presentations</a></li>
        </ul>

      </div>
    </article>
  </section>

</div>

{% include updates.html %}
{% include footer.html %}
