---
layout: empty
title: Work
permalink: /work/
---

<header>
  <figure class="hero compact">
    {% include header.html %}
  </figure>
</header>

<div role="main">



  <section class="container">
    <div class="twelve columns">
      <nav class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li>{{ page.title }}</li>
        </ul>
      </nav>
    </div>
  </section>


  <section class="container">
    <div class="twelve columns">
      <div class="type">
        <h1>Projects from '09 to '15</h1>
      </div>
    </div>
  </section>


  <section class="container">


    <div class="six columns">
      <div class="chart roles">
        <figure>
          <div class="ratio square">
            <canvas id="roles"></canvas>
          </div>
          <figcaption class="mobile">Roles</figcaption>
        </figure>
        <ul class="mobile" data-list="roles"></ul>
      </div>
    </div>

    <div class="three columns">
      <div class="chart frameworks paginate">
        <figure>
          <div class="ratio square">
            <canvas id="frameworks"></canvas>
          </div>
          <figcaption>Frameworks</figcaption>
        </figure>
        <ul data-list="frameworks"></ul>
      </div>
    </div>








    <div class="three columns">
      <div class="chart lang paginate">
        <figure>
          <div class="ratio square">
            <canvas id="lang"></canvas>
          </div>
          <figcaption>Languages</figcaption>
        </figure>
        <ul data-list="lang"></ul>
      </div>
    </div>





  </section>

  <section class="section">
    <div class="container">
      <div class="six columns">
        <div class="desktop">
          <h2>Roles</h2>
          <ul data-list="roles"></ul>
        </div>
      </div>
      <div class="six columns">
        <h2>Agencies</h2>
        <ul class="agency"></ul>
      </div>
    </div>
  </section>

</div>

  <section class="section projects">
    <div class="type container">
      <h2>By project</h2>
      <ul></ul>
      <p class="foot-note"><i class="fa fa-info-circle"></i> <small>Links in grey no longer include Nick's work. Prior to '09 Nick worked predominently as a Flash ActionScript programmer ( 2 &amp; 3 ) and web development generalist building promotional games and touch screen applications. <a href="/employment">Find out about his employment history</a></small></p>
    </div>
  </section>


  <section class="section testimonials">
    <div class="container">
      <div class="twelve columns">
        <div class="type">
          <h2>Testimonials</h2>
        </div>
        <blockquote>
          <p>Nick is a very good mix of the tech and the creative - producing a great product that marries the two extremely well. He's also incredibly patient, and cuts through the jargon to the gist with style and humour. Communications are good, expectations are met, and the final product gets the thumbs-up from stakeholders...</p>
          <cite>Stephen Chandler, Business Director / Client Partner, The Wooden Table</cite>
        </blockquote>
      </div>
    </div>
  </section>

<script src="/js/chart-colors.js"></script>
<script src="/js/chart-data.js"></script>
<script src="/js/charts.js"></script>

{% include footer.html %}
