---
layout: empty
title: Work
permalink: /work/
---

<header>
  <figure class="hero compact">
    {% include header.html %}
  </figure>
</header>

<div role="main">

  <section class="container">
    <div class="twelve columns">
      <nav class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li>{{ page.title }}</li>
        </ul>
      </nav>
    </div>
  </section>

  <section class="container type">
    <div class="twelve columns">
      <h1>{{ page.title }}</h1>
    </div>
  </section>

  <section class="container type">
    <div class="four columns">
      <h2>As a director</h2>
      <ul>
        <li><a href="http://mediasmart.uk.com">http://mediasmart.uk.com</a></li>
        <li><a href="http://redcentral.co.uk">http://redcentral.co.uk</a></li>
        <li><a href="http://www.ckdaudit.org.uk">http://www.ckdaudit.org.uk</a></li>
        <li><a href="http://somniumtech.com">http://somniumtech.com</a></li>
        <li><a href="http://healthanalytics.bmj.com">http://healthanalytics.bmj.com</a></li>
        <li><a href="http://www.space-engineering.co.uk">http://www.space-engineering.co.uk</a></li>
        <li><a href="http://www.ontology.com">http://www.ontology.com</a></li>
      </ul>
    </div>
    <div class="four columns">
      <h2>As a freelancer</h2>
      <ul>
        <li><a href="http://alisons.kitchen">http://alisons.kitchen</a></li>
        <li><a href="http://gabrielleblackman.com">http://gabrielleblackman.com</a></li>
        <li><a href="http://gighub.co.uk">http://gighub.co.uk</a></li>
      </ul>
    </div>
    <div class="four columns">
      <h2>As a developer</h2>
      <ul>
        <li><a href="http://bsm.co.uk">http://bsm.co.uk</a></li>
        <li><a href="http://kia.co.uk">http://kia.co.uk</a></li>
        <li><a href="https://www.50things.org.uk">https://www.50things.org.uk</a></li>
        <li><a href="http://www.nationaltrust.org.uk">http://www.nationaltrust.org.uk</a></li>
        <li><a href="http://www.creditcall.com">http://www.creditcall.com</a></li>
        <li><a href="http://www.royalnavy.mod.uk">http://www.royalnavy.mod.uk</a></li>
        <li><a href="http://www.philipmould.com">http://www.philipmould.com</a></li>
        <li><a href="http://www.themill.com">http://www.themill.com</a></li>
        <li><a href="http://www.stila.co.uk">http://www.stila.co.uk</a></li>
      </ul>
    </div>
  </section>
</div>

{% include footer.html %}
