<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Raleway Dots&subset=latin" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
  <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="author" content="Nick Clarkson">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="Nick Clarkson">
  <meta name="twitter:creator" content="Nick Clarkson">
  <meta name="twitter:image:src" content="http://clarkson.io/images/test2.jpg">
  <meta name="twitter:title" content="Nick Clarkson">

  <meta property="og:type" content="article">
  <meta property="og:image" content="http://clarkson.io/images/test2.jpg">
  <meta property="og:site_name" content="Nick Clarkson">
  <meta property="og:title" content="Nick Clarkson">

  <meta itemprop="birthDate" content="1975-09-15">
  <meta itemprop="email" content="nick@clarkson.io">
  <meta itemprop="url" content="http://clarkson.io">

  <script>var partialSupport = false;</script>

  <!--[if IE 7]>

  <![endif]-->
  <!--[if (lte IE 8)]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script>partialSupport = true;</script>
  <![endif]-->

  {% if page.css %}
    <link href="{{ page.css | prepend: site.baseurl }}" rel="stylesheet">
  {% endif %}

  <script src="/vendor/jquery/dist/jquery.min.js"></script>
</head>
