<!--
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>


    {% for page in site.pages %}
      {% if page.title %}
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %} -->



        <figcaption class="caption">
          <div class="container">
            <div class="twelve columns">
              <div class="type">
                <h1><a href="/">Nick Clarkson <i class="fa fa-home"></i></a></h2>
                <h2>Technical Director / Creative Technologist</h2>
              </div>

                <ul class="social">
                  <li><a class="twitter" href="http://twitter.com/t_pk"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="instagram" href="http://instagram.com/t_pk"><i class="fa fa-instagram"></i></a></li>
                  <li><a class="google-plus" rel="publisher" href="https://plus.google.com/u/1/102006751340511047247/posts"><i class="fa fa-google-plus"></i></a></li>
                  <li><a class="github" href="http://github.com/netotaku"><i class="fa fa-github-alt"></i></a></li>
                  <li><a class="soundcloud" href="http://soundcloud.com/trialanderror"><i class="fa fa-soundcloud"></i></a></li>
                  <li><a class="linkedin" href="http://uk.linkedin.com/in/nicholasclarkson/"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
                </ul>

            </div>
          </div>
        </figcaption>
