
{% include open.html %}

<figcaption class="caption">
  <div class="container">
    <div class="twelve columns">
      <div class="type">
        {% if page.isHome %}
          <h1><a href="/about">Nick Clarkson <i class="fa fa-chevron-right"></i></a></h2>
        {% else %}
          <h1><a href="/">Nick Clarkson <i class="fa fa-home"></i></a></h2>
        {% endif %}
        <h2>Technical Director / Creative Technologist</h2>
      </div>
      {% include social.html %}
    </div>
  </div>
</figcaption>
