
<script type="text/html" id="menu-template">
  <nav>
    <ul>
      <% $.each(data, function(){ %>
        <li><a href="<%=this.href%>"><%=this.label%></a></li>
      <% }) %>
    </ul>
  </nav>
</script>

<script type="text/javascript">

  var disqus_shortname = 'nickclarkson';

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

</script>

<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dbf29307cc266c2" async="async"></script>
<script src="/vendor/underscore/underscore-min.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/twitter/post-fetcher.js"></script>
<script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
<script>
  (function($){
    "use strict";


    $('.action').on('click', function(e){
      e.preventDefault();
      $($(this).data('toggle')).toggleClass('opened');
    });

    var $window = $(window),
        md = function(){
          return $window.width() > 768;
        }

    if($('#tweet').length > 0){
      twitterFetcher.fetch({
        "id": '320201997074710529',
        "domId": 'tweet',
        "maxTweets": 1,
        "enableLinks": true
      });
    }

    $('.dismissable').each(function(){
      var $this = $(this),
          id = $this.attr('id'),
          $close = $this.find('.close').on('click', function(){
            $.cookie(id, true);
            // console.log($.cookie(id));
            // console.log(id);
            $('body').toggleClass('show-dismissable');
          });
      if(!$.cookie(id)){
        $('body').toggleClass('show-dismissable');
      }
    });

  })(jQuery);

  /////

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-59040010-1', 'auto');
  ga('send', 'pageview');
</script>
