<ul class="social">
  <li><a class="twitter" href="http://twitter.com/t_pk"><i class="fa fa-twitter"></i></a></li>
  <li><a class="instagram" href="http://instagram.com/t_pk"><i class="fa fa-instagram"></i></a></li>
  <li><a class="tumblr" href="http://workersplayti.me"><i class="fa fa-tumblr"></i></a></li>
  <li><a class="github" href="http://github.com/netotaku"><i class="fa fa-github-alt"></i></a></li>
  <li class="split"><a class="soundcloud" href="http://soundcloud.com/trialanderror"><i class="fa fa-soundcloud"></i></a></li>
  <li><a class="linkedin" href="http://uk.linkedin.com/in/nicholasclarkson/"><i class="fa fa-linkedin"></i></a></li>
  <li><a class="rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></li>
  <li><a class="mixcloud" href="https://www.mixcloud.com/trialanderror/"><i class="fa fa-mixcloud"></i></a></li>
</ul>
