
$H: 74px;

.action{
  color: #fff;
  cursor: pointer;
  padding: 0px 18px;
  height: $H;
  line-height: $H;
  text-align: right;
  font-size: 1.3em;
  .fa{
    line-height: 74px;
  }
  &:hover{
    span{
      color: #ccc;
    }
  }
  &.burger{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
  }
  &.likesharefollow{
    text-align: left;
    line-height: 47px;
    height: 47px;
    padding: 0px;
    *{
      line-height: 47px;
      height: 47px;
    }
  }
}

@media (max-width: $MD) {

}
