.breadcrumb{
  color: #666;
  padding-bottom: 40px;
  li{
    display: inline;
    &:not(:last-child):after{
      content: " / ";
    }
    a{

    }
  }
}

@media (max-width: $SM) {
  .breadcrumb{
    padding-top: 20px;
  }
}
