
.footer-links{
  background: #222;
  .col{
    float: left;
    width: 25%;
  }
  // background: #222 url(/images/The-Agency-Logo.png) no-repeat right;
  .type{
    *{
      color: #ccc;
    }
  }
  *{
    color: #ccc;
  }
  ul{
    padding-bottom: $gutter;
  }
  h2{
    padding-bottom: 0px;
  }
  .notice{
    padding-bottom: $gutter;
    font-size: .9em;
  }
}


@media (max-width: $MD) {
  .footer-links{
    .col{
      float: left;
      width: 33.333%;
      &.clr{
        width: auto;
      }
    }
  }
}



.footer-tweet{
  // color: #fff;
  background : #ccc;
  a,i{
    color: #777;
  }
  [data-scribe="element:url"]{
    word-break: break-all;
  }
  .user{
    display: none;
  }
  .tweet{
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: 12px;
    font-style: italic;
    font-family: georgia;
  }
  .interact{
    margin-top: 4px;
    .fa{
      font-size: 0.8em;
      text-align: center;
      display: block;
      float: left;
      text-decoration: none;
      margin-right: 6px;
      line-height: 24px;
      width: 28px;
      background: #444;
      border-radius: 4px;
      color: #fff;
    }
  }
}

.footer-social{
  background: #333;
  .likesharefollow{
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.footer-share{
  background: #c00;
  display: none;
}

@media (max-width: 768px) {
  .footer-social{
    .likesharefollow{
      display: none;
    }
  }
  .footer-share{
    display: block;
  }
}

.footer-base{
  text-align: center;
  color: #444;
  background: #111;
  a{
    color: #444;
  }
  .base-right{
    float: right;
    span.pipe{
      color: #666;
    }
    a{
      color: #fff;
      text-decoration: none;
      span{
        text-decoration: underline;
      }
      &:hover{
        span{
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 604px) {
  .footer-base{
    .base-right{
      float: none;
    }
  }
}

.auk{
  padding-bottom: 20px;
}
