*{ box-sizing: border-box; }

@media (max-width: $MD) {
  html{

  }
}

html{
  background: $lowlight;
}


em{
  font-style: italic;
}

strong{
  font-weight: bold;
}

hr{
  margin: 0px;
  margin-bottom: 20px;
  border-width: 0px;
  border-top: solid 1px #ddd;
}

.ratio{
  padding-top: 59.5%;
  height: 0;
  position: relative;
  margin-bottom: 20px;
  canvas,
  iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  &.square{
    padding-top: 100%;
  }
}

.ellipsis{
  li{
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

html,body,.wrapper{
  height: 100%;
}

[role=main]{
  padding-top: $gutter;
  background: #fff;
  padding-bottom: $doubleGutter;
}


.hide{
  display: none;
}

.projects{
  ul{
    margin-left: 0px!important;
    overflow: hidden;
    li{
      width: 33.33%;
      float: left;
      a{
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: auto;
      }
    }
  }
}


@media (max-width: $MD) {
  .projects{
    ul{
      li{
        width: 50%;
      }
    }
  }
}

@media (max-width: $SM) {
  .projects{
    ul{
      li{
        width: auto;
        float: none;
      }
    }
  }
}

.roles{
  a{
    display: none;
  }
}

.mobile{
  display: none;
}

@media (max-width: $SM) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}


blockquote{
  p{
    font-family: georgia;
    font-style: italic;
    border-left: solid 4px #ccc;
    padding-left: 20px;
    margin: 20px 0px;
    font-size: 1.2em;
  }
  cite{
    display: block;
    font-weight: bold;
    font-style: normal;
  }
}

// .dismissable{
//   display: none;
// }
