*{ box-sizing: border-box; }

html{

  background: $lowlight;
  color: $lowlight;

  line-height: 1.75;
  font-size: 1em;
  // font-family: 'Open Sans', sans-serif;
  font-family: sans-serif;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

//   font-family: 'Titillium Web', sans-serif;

}

@media (max-width: $MD) {
  html{
    // font-size: .8em;
  }
}

a{
  color: $highlight;
  &:hover{
    text-decoration: none;
  }
  &.disabled{
    color: #666;
  }
}

// responsive images
img{
  width: 100%;
  height: auto;
}

em{
  font-style: italic;
}

strong{
  font-weight: bold;
}

hr{
  margin: 0px;
  margin-bottom: 20px;
  border-width: 0px;
  border-top: solid 1px #ddd;
}

.ratio{
  padding-top: 59.5%;
  height: 0;
  position: relative;
  margin-bottom: 20px;
  canvas,
  iframe{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  &.square{
    padding-top: 100%;
  }
}

.ellipsis{
  li{
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

html,body,.wrapper{
  height: 100%;
}

[role=main]{
  padding-top: $gutter;
  background: #fff;
  padding-bottom: $doubleGutter;
}


.hide{
  display: none;
}

.projects{
  li{
    width: 33.33%;
    float: left;
  }
}


@media (max-width: $MD) {
  .projects{
    li{
      width: 50%;
    }
  }
}

@media (max-width: $SM) {
  .projects{
    li{
      width: auto;
      float: none;
    }
  }
}

// .dismissable{
//   display: none;
// }
