.header{

}
.fixed-header{
  height: 74px;
  line-height: 74px;
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  background: #c00;
  color: #fff;
  .action{
    color: #fff;
    &:active,
    &:hover{
      color: #fff;
    }
  }
  .name{
    font-weight: 900;
  }
  &__name{
    background: red;
    display: inline-block;
    padding: 0px 20px;
    font-size: 1.1em;
    height: 74px;
    line-height: 74px;
  }
  .mini-menu{
    position: absolute;
    right: 20px;
    top: 0px;
  }
}

.scrolling{
  .fixed-header{
    display: block;
  }
}

@media (max-width: 499px) {
  .role{
    display: none;
  }
  .link{
    span{
      display: none;
    }
  }
}
