.hero{
  height: 450px;
  background: #eee url(/images/The-Agency-Logo.png) no-repeat right;
  position: relative;
  margin-bottom: $doubleGutter;
  .caption{
    width: 100%;
    position: absolute;
    bottom: $doubleGutter;
    left: 0px;
  }
  h1{
    font-size: 3.6em;
    letter-spacing: -3px;
    a{
      color: #333;
      text-decoration: none;
      &:hover{
        color: $highlight;
      }
      .fa{
        font-size: 0.5em;
        color: #666;
      }
    }
  }
  &.compact{
    height: auto;
    .caption{
      position: static;
      padding: $doubleGutter 0px;
    }
  }
}
