.latest-tweet{
  margin-bottom: $doubleGutter;
  color: #fff;
  a{
    color: #fff;
  }
  .user{
    display: none;
  }
  .tweet{
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: 12px;
    font-family: georgia;
  }
  .interact{
    margin-top: 4px;
    .fa{
      font-size: 0.8em;
      text-align: center;
      display: block;
      float: left;
      text-decoration: none;
      margin-right: 6px;
      line-height: 24px;
      width: 28px;
      background: #444;
      border-radius: 4px;
    }
  }
}
