

.ocn{
  color: #fff;
  background: #111;
  display: none;
  position: fixed;
  width: 260px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  nav{
    ul{
      li{
        a{
          font-size: 1.2em;
          display: block;
          padding: 8px 18px;
          margin-bottom: 2px;
          color: #fff;
          background: #333;
          text-decoration: none;
          &.selected,
          &:hover{
            background: #444;
          }
        }
      }
    }
  }
}

.wrapper{
  position: relative;
  width: 100%;
}

.opened{
  .wrapper{
    margin-left: -260px;
  }
  .ocn{
    display:block
  }
}

@media (max-width: $MD) { }
