
// namespace the typography

img{
  width: 100%;
  height: auto;
}

a{
  color: $highlight;
  &:hover{
    text-decoration: none;
  }
  &.disabled{
    color: #666;
  }
}

html{

  color: $lowlight;

  line-height: 1.75;

  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

}

.type{
  color: #666;
  h1,h2,h3,h4,h5,h6{
    color: #333;
  }
  h1{
    font-size: 2.8em;
    line-height: 1.1;
    padding-bottom: 40px;
    font-weight: 900;
  }
  h2,h3,h4,h5,h6{
    font-weight: bold;
    padding-bottom: $gutter;
    font-size: 1.6em;
    letter-spacing: 0px;
    line-height: 1.5;
  }
  h3{
    font-size: 1.3em;
  }

  blockquote{
    p{
      padding: 0px;
      margin: 0px;
      padding-left: 20px;
    }
    cite{
      margin: 20px 0px;
    }
  }

  p, ul, ol{
    padding-bottom: $gutter;
  }

  ul:not(.ellipsis){
    margin-left: 20px;
    list-style-type: square;
  }

  /////////////////////////////////

  time + h1,
  time + h2,
  time + a h2{
    padding-bottom: 0px;
  }

  .comment-count{
    color: $highlight;
    padding-bottom: $doubleGutter;
  }

  small{
    clear: both;
    padding-top: 40px;
    font-style: italic;
    color: #aaa;
  }

  hr{
    background: transparent;
    border: 0px;
  }

}
