.updates{
    padding-bottom: 20px;
    li{
      // padding-bottom: 10px;
      .message{
        display: block;
        font-size: 1.4em;
        // font-weight: 900;
      }
      .date{
        color: #666;
      }
      .commit{
        font-family: monospace;
      }
    }
}
