.updates{
    padding-bottom: 20px;
    li{
      .message{
        display: block;
        font-size: 1.4em;
      }
      .date{
        color: #666;
      }
      .commit{
        font-family: monospace;
      }
    }
}
