.footer{
  padding: $doubleGutter 0px;
  padding-bottom: 0px;
  background: #222;
  color: #ccc;
  a{
    color: #ccc;
  }
  .type{
    padding-bottom: $doubleGutter;
  }
  h2{
    padding-bottom: 0px;
  }
}
