
// future proof breakpoints
$SM: 400px;
$MD: 550px;
$LR: 1000px;
$XL: 1200px;

// fonts
$headingFont: "Archivo Black";
$bodyFont: sans-serif;

// whitespace
$gutter: 20px;
$doubleGutter: $gutter*2;

// colours
$highlight: #c00;
$midlight: "";
$lowlight: #333;
