
<h2>Nick Clarkson is a British Digital Technical Director based in the South West
  with an interest in the creative implementation open source technologies.</h2>

<p>Nick is a Technical Director and award winning interface developer with a
  innovative vision and a broad portfolio of skills and experience. He has an academic approach to
  technical project management and is a passionate exponent of open source.</p>

<p>Nick has a passion for digital and is active in the Bristol and Bath technical
  community speaking on various topics including principles of web development,
  social, search and Digital Ideation</p>

<p>He lives in Bristol with his wife <a href="http://alisons.kitchen">Food Stylist Alison Clarkson</a> and their
  two sons Daniel and Alex.</p>
