.chart{
  figcaption{
    font-weight: bold;
  }
}

.agency{
  .bar{
    position: relative;
    margin-bottom: 3px;
    *{
      line-height: 30px;
      height: 30px;
    }
    span{
      position: relative;
      display: block;
      &.track{
        position: absolute;
        background: #eee;
        width: 100%;
      }
      &.label{
        padding-left: 4px;
        text-align: right;
      }
    }
  }
}
