---
layout: default
---

<header>
  <figure class="hero compact">
    {% include header.html %}
  </figure>
</header>

<div role="main">

  <section class="container">
    <div class="twelve columns">
      <nav class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li>{{ page.title }}</li>
        </ul>
      </nav>
    </div>
  </section>


  <section class="container">
    <article class="twelve columns">
      <div class="type">

        <header>
          <h1>{{ page.title }}</h1>
        </header>

        {{ content }}

      </div>
    </article>
  </section>
</div>
