---
layout: default
---


<header>
  <figure class="hero compact">
    {% include header.html %}
  </figure>
</header>

<div role="main">
  <section class="container">
    <div class="twelve columns">
      <nav class="breadcrumb">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li>{{ page.title }}</li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="container">
    <article class="twelve columns">
      <div class="type post full">
        <article class="post">
          <header>
            <div class="time"><i class="fa fa-clock-o"></i> {{ page.date | date: "%b %-d, %Y" }}</div>
            <h1>{{ page.title }}</h1>
            <div class="comment-count"><i class="fa fa-comment"></i> <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread" class="count">comments</a></span></div>
          </header>
        </article>
        <article>{{ content }}</article>
      </div>
    </article>
  </section>
  <section class="section disqus container">
    <div class="twelve columns">
      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </section>
</div>

{% include updates.html %}
