---
layout: default
---


<header>
  <figure class="hero compact">
    {% include header.html %}
  </figure>
</header>

<div role="main">
  <section class="container aside full">
    <article class="twelve columns">
      <div class="type content post">

        <header>
          <nav class="breadcrumb">
            <ul>
              <li><a href="/">Home</a></li>
              <li>{{ page.title }}</li>
            </ul>
          </nav>

          <h1>{{ page.title }}</h1>
          <p class="time"><i class="fa fa-clock-o "></i> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <article>{{ content }}</article>

      </div>
    </article>
  </section>
</div>
